body{
	color: red;
	background: #ccc;
}
.wrapper {
  width: 500px;
  margin: 10px auto;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #f1f1f1;
  padding: 20px;
}
 .blackborder{border:1px solid green;width:50%;}

 .tabbox ul{padding:0;margin:0;}
 .tabbox ul li{list-style: none;display: inline-block;width:100px;text-align: center;border:1px solid red;}
 .box div{display: none;}
 .tabbox{margin-top:30px;}
 .box{width:50%;height:300px;border:1px solid #000;}
 #nameAn ul li{list-style: none;}